<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encuesta</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <link rel=stylesheet HREF="css/estil.css" TYPE="text/css">
</head>

<body>
    <header id="encabezado" class="container-fluid bg-dark text-white">
        <h1>Encuesta Frameworks</h1>
        <p>By:Eric Yael - ENV-401</p>
    </header>
    <section id="seccion" class="container-fluid p-2">
        <div class="form-group">
            <label for="tiempo">¿Te gusta programar?</label><label> Dar doble click a tu eleccion</label><br>
            <input class="form-check-input" type="radio" value="Si" v-model="progra" @click="condicion1()" checked>
            <label class="form-check-label">Si
                <input class="form-check-input" type="radio" value="No" v-model="progra" @click="condicion1()">
                <label class="form-check-label">No
        </div>
        <div v-if="bandera">
            <div class="form-group">
                <label for="tiempo">¿Cuanto llevas programando?</label>
                <input type="number" class="form-control" id="tiempo" v-model="tiemp" @keyup.enter="condicion2()" placeholder="Selecciona el numero de años que llevas programando">
            </div>
            <div class="form-group" v-if="tiemp<=2">
                <h3></h3>
                <label for="motivacion">¿Que te motiva a programar?</label>
                <input type="text" class="form-control" id="motivacion" v-model="motiva ">
            </div>
            <div class="form-group" v-else>
                <h3></h3>
                <label for="motivacion">Cuentanos tu experencia programando</label>
                <input type="text" class="form-control" id="experiencia" v-model="expe">
            </div>
            <div class="form-group">
                <label for="motivacion">¿Cuantos lenguajes de programacion conoces?</label>
                <label>Captura uno a uno</label>
                <input type="text" class="form-control" id="lenguaje" @keyup="agregarleng()" v-model="lengua"
                    @keyup.enter="agregar()" placeholder="Dar enter al colocar el lenguaje"><br>

            </div>
            <br>
            <div class="form-group">
                <label for="tiempo">
                    <p class="m-0">¿Te gusta programar?</p>
                    <p class="m-0">{{progra}}</p>
                </label>
            </div>
            <div class="form-group">
                <label for="tiempo">
                    <p class="m-0">¿Cuanto llevas programando?</p>
                    <p class="m-0">{{tiemp}}</p>
                </label>
            </div>
            <div class="form-group " v-if="tiemp <=2">
                <label for="motivacion">
                    <p class="m-0">¿Que te motiva a programar?</p>
                    <p class="m-0">{{motiva}}</p>
                </label>
            </div>
            <div class="form-group" v-else>
                <label for="motivacion">
                    <p class="m-0">Cuentanos tu experencia programando</p>
                    <p class="m-0"> {{expe}}</p>
                </label>
            </div>
            <div class="form-group">
                <label for="motivacion">¿Cuantos lenguajes de programacion conoces? {{lengua}}</label>
                <ul>
                    <li v-for="(lengu,index) in lenguas" :key="index">{{lengu}}</li>
                </ul>
            </div>
        </div>
        <div v-else>
            <h3>Gracias por apoyarnos</h3>
        </div>
    </section>
    <script src="js/funcio.js"></script>
</body>

</html>